@model IEnumerable<BuyGroceriesOnline.Models.Coupon>

@{
    ViewData["Title"] = "ListCoupons";
}

<h1>ListCoupons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CouponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
