@model BuyGroceriesOnline.Models.Product

@{
    ViewData["Title"] = "Details";
}
<br/>
<h2>Details Products</h2>

<div>
    <hr />
    @if(Context.Session.GetString("manager")=="0")
    {
         <div class="addToCart">
            <p class="button">
                <a class="btn btn-danger" 
                   asp-controller="ShoppingCart" 
                   asp-action="AddToShoppingCart"
                   asp-route-productId="@Model.ProductId">Add to cart</a>
            </p>
         </div>
    }
            <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ImageThumbnailUrl" >
                    <img src="@Model.ImageThumbnailUrl" class="rounded" width=20%>
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProductOfTheWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProductOfTheWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>

<div>
    @if(Context.Session.GetString("manager")=="1")
    {
        <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-primary">Edit</a> 
        <a asp-action="Delete" asp-route-id="@Model?.ProductId" class="btn btn-danger">Delete</a>
    }
    <a asp-action="List" class="btn btn-primary">Back to List</a>
</div>
