@model IEnumerable<BuyGroceriesOnline.Models.ProductMini>

@{
    ViewData["Title"] = "ListMini";
}

<h1>ListMini</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-folder-plus"></i> &nbsp;Create New</a>
</p>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
            </th>
            <th>
                <p>Buy Now!</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td width="30%" align="center">
               @* @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)*@
               <img src="@item.ImageThumbnailUrl" class="rounded" width=40%>
            </td>
            <td align="center">
                <div class="addToCart">
                <p class="button">
                    <a class="btn btn-danger" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-productId="@item.ProductId">Add to cart</a>
                </p>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
