@model IEnumerable<BuyGroceriesOnline.Models.Category>

@{
    ViewData["Title"] = "AllCategoriesAPI";
}

<br/>
<h2>Category List</h2>

@if(Context.Session.GetString("manager")=="1")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-folder-plus"></i> &nbsp;Create New</a>
    </p>
}
<hr/>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @if (Context.Session.GetString("manager") == "1")
            {
                <th></th>
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td width="40%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if(Context.Session.GetString("manager")=="1")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary mx-2">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger mx-2">Delete</a>   
                </td>
            }
                
        </tr>
}
    </tbody>
</table>

