@model IEnumerable<BuyGroceriesOnline.Models.Coupon>

@{
    ViewData["Title"] = "ApplyCoupon";
}

<h1>ApplyCoupon</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="CalculateDiscount" asp-route-id="@item.CouponId">Apply Coupon</a> 
            </td>

        </tr>
}
    </tbody>
</table>
