@using BuyGroceriesOnline.ViewModels
@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are your Groceries in your shopping cart.</h4>
@*
@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }*@


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6" text-end>
            <a asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-primary">
                <i class="bi bi-bag-x-fill"></i> &nbsp; Empty Cart
            </a>
            <a asp-controller="Order" asp-action="Checkout" class="btn btn-danger">
                <i class="bi bi-credit-card-fill"></i> &nbsp;Place Order
            </a>

            @if(Context.Session.GetString("manager")=="1")
            {
                <a asp-controller="Coupon" asp-action="ListCoupons" class="btn btn-Secondary">
                    <i class="bi bi-credit-card-fill"></i> &nbsp; List Coupon
                </a>
            }

            @if(Context.Session.GetString("manager")=="0" && (Model.ShoppingCartTotal!=0))
            {
                <a asp-controller="ShoppingCart" asp-action="ApplyCoupon" class="btn btn-Secondary">
                    <i class="bi bi-credit-card-fill"></i> &nbsp; Apply Coupon
                </a>
            }
        </div>
    </div>
    <br />
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Selected amount</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            @*<td class="text-center">@line.Amount</td>*@
            <td align="center">
            <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-productId="@line.Product.ProductId"
            class="btn btn-danger mx-2">-</a>  @line.Amount  
             <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@line.Product.ProductId"
             class="btn btn-primary mx-2">+
             </a>
             </td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">Rs. @line.Product.Price.ToString()</td>
            <td class="text-right"> Rs.
                @((line.Amount * line.Product.Price).ToString())
            </td>
            <td>
                <a  asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-productId="@line.Product.ProductId" class="btn btn-danger mx-2">Remove Item</a>
            </td>
            
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right"> Rs.
            @Model.ShoppingCartTotal.ToString()
        </td>        
        
    </tr>
    </tfoot>
</table>



   <p class="button">
      <a class="btn btn-primary" 
         asp-controller="Product" 
         asp-action="List">Back to All Products
      </a>
   </p>
 </div>
        

