@model IEnumerable<BuyGroceriesOnline.Models.Feedback>

@{
    ViewData["Title"] = "AllFeedback";
}
<br />
<h1 align="center">All Feedbacks</h1>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBack)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             
            <td>              
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBack)
            </td>
             <td>
                 <p class="button">
                    <a class="btn btn-primary"  asp-controller="Order" asp-action="FeedbackDetails" asp-route-id="@item.FeedbackId">Details</a> | 
                    <a class="btn btn-danger"  asp-controller="Order" asp-action="DeleteFeedback" asp-route-id="@item.FeedbackId">Delete</a>
                 </p>         
            </td>
        </tr>
}
    </tbody>
</table>

