@model IEnumerable<BuyGroceriesOnline.Models.OrderDetail>

@{
    ViewData["Title"] = "CheckoutComplete";
}
<br>
<h1>My Orders</h1>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Order.Email)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Product.ImageThumbnailUrl)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
           @if(Context.Session.GetString("manager")=="0")
            {
                <th> Cancel </th>
            }
            
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Email)
            </td>
            <td width="15%" align="center">
                <img src="@item.Product.ImageThumbnailUrl" class="rounded" width=50%>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @(item.Amount * item.Price)
            </td>
           
             @if(Context.Session.GetString("manager")=="0")
             {
                 <td>
                     <p class="button">
                         <a class="btn btn-danger" 
                             asp-action="CancelOrder" asp-route-id="@item.OrderDetailId"> Cancel Order
                         </a>
                     </p>    
                 </td>
             } 
        </tr>
}
    </tbody>
</table>
